*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.msgContainer{
    min-height: 100px;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding-top: 2rem;
    margin-top: 5rem;
}

.message{
    color: black;
    padding: .6rem;
    margin: .6rem .2rem;
    clear: both;
    max-width: calc(100% - 60px);
    /* line-break: calc(20rem - 200px); */
    width: fit-content;
}

.left{
    background: white;
    float: left;
    border-radius: 0 30px 30px 30px;
    /* padding-right: calc(100% - 22.5rem); */
}

.right{
    background: rgb(150, 223, 114);
    float: right;
    border-radius: 28px 0px 28px 28px;
    /* padding-left: calc(100% - 22.5rem); */
}

.typingArea{
    height: 6.5rem;
    width: 100%;
    position: absolute;
    top: 85vh;
}

#input{
    font-size: 1rem;
    height: 60%;
    padding-left: .5rem;
    width: 75%;
    outline: none;
}

#send{
    font-size: 1rem;
    height: 60%;
    width: 25%;
    outline: none;
}

.ct{
    display: flex;
    flex-direction: column;
}

#noMsg{
    position: absolute;
    height: 66%;
    padding-top: 5rem;
    transform: translate(50%, 50%);
    font-weight: bold;
}